# ===============================
# Output
# ===============================
output_dir = '/inspire/hdd/project/chineseculture/public/yuxuan/diffusion-pipe/outputs/sd3_light_pretrain/base'

dataset = '/inspire/hdd/project/chineseculture/public/yuxuan/diffusion-pipe/settings/train/cc12m_dataset.toml'

# You can have separate eval datasets. Give them a name for Tensorboard metrics.
eval_datasets = [
    {name = 'cc12m-val-1k', config = '/inspire/hdd/project/chineseculture/public/yuxuan/diffusion-pipe/settings/train/cc12m_dataset_val-1k.toml'},
]



# ===============================
# Training length
# ===============================
epochs = 1000

# ===============================
# Batch size & parallelism
# ===============================
# Per-GPU micro batch
micro_batch_size_per_gpu = 128



pipeline_stages = 1
gradient_accumulation_steps = 1

# Global batch size:
# 16 (micro) × 8 (GAS) × 8 (GPUs) = 1024

gradient_clipping = 1.0

map_num_proc = 128
num_dataloader_workers = 4
prefetch_batches_per_worker = 1

# ===============================
# LR schedule
# ===============================
warmup_steps = 1000
lr_scheduler = 'constant'   # warmup + constant

# ===============================
# Evaluation
# ===============================
eval_every_n_steps = 500
eval_before_first_step = true

eval_micro_batch_size_per_gpu = 64
eval_gradient_accumulation_steps = 1

# ===============================
# Saving
# ===============================
save_every_n_steps = 2500
save_dtype = 'bfloat16'

# ===============================
# Memory / speed
# ===============================
activation_checkpointing = true
partition_method = 'parameters'

steps_per_print = 10


# ===============================
# Model: Light SD3
# ===============================
[model]
type = 'sd3'
train_type = "sd3_light_pretrain"

num_layers=15

# 从“已保存的随机初始化 checkpoint”加载
diffusers_path = '/inspire/hdd/project/chineseculture/public/yuxuan/diffusion-pipe/outputs/sd3_light_pretrain/sd3_light-layer15_init'

dtype = 'bfloat16'
transformer_dtype = 'bfloat16'

# 控制 SD3 Light 文本编码器独立 Uncond Dropout
enable_uncond_text_dropout = true
uncond_text_dropout_prob = 0.464

# Text reconstruction loss
text_recon_gamma = 0.1
text_recon_target_layer = 0


# timestep sampling
timestep_sample_method = 'logit_normal'

# ===============================
# 不要 adapter（全参 pretrain）
# ===============================
# [adapter]  



# ===============================
# Optimizer
# ===============================
[optimizer]
type = 'adamw'
lr = 1e-4
betas = [0.9, 0.999]
weight_decay = 0.01
eps = 1e-8


[ema]
enable = true
decay = 0.99
update_every = 100


# ===============================
# Monitoring
# ===============================
[monitoring]
enable_wandb = false
wandb_api_key = 'd4680d0cfd40bd71f274676e68abe8baf0e6bb41'
wandb_tracker_name = 'diffusion-pipe'
wandb_run_name = 'sd3_light_pretrain_test'
